body {
    background-color: #8BA1BB;
    padding: 10px;
    width: auto;
    display: inline;
}

h3.recette {
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 8px 15px;
    margin-bottom: -9px;
    margin-top: 0;
}

div.contenue {
    text-align: center;
    overflow: visible;
    
}

div.contenue2 {
    background-color: white;
    margin: -7px 100px 5px 100px;
    padding: 15px;
    min-width: 350px;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
}

img.contenue {
    width: 100%;
    display: block;
    object-fit: cover;
    max-height: 400px;
}

div.jm {
    position: relative;
}

table.jm {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6c829dc0;
    height: 80px;
}

h1.titre {
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 12px;

}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}

div.description {
    text-align: center;
}

div.separateur {
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

tr.jm th {
    font-size: 14px;
    vertical-align: top;
    padding-bottom: 0px;

}

div.colone1 {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 8px 0px;
    margin-top: 4px;
    margin-bottom: 0;
}

div.colone {
    width: 45%;
}

div.colone2 {
    float: right;
    text-align: center;
    padding: 8px 0px;
    margin-top: 4px;
}

h2.hh {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    border-bottom: 5px solid #6c829d;

}

p.numero {
    text-align: center;
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    padding-top: 4px;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

td.dayza {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    text-align: left;
}

td.ml3oba {
    vertical-align: top;
}

tr.ml3oba {
    height: 40px;
}

* {
    overflow: auto;
}